@font-face {
    font-family: 'Atop';
    src: url('fonts/atop.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cloudy';
    src: url('fonts/Cloudy Peaches Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
        --primary-color: #cb313e;
        --primary-color-light: #dc5b66;

        --secondary-color: #f7bfcf;
        --secondary-color-light: #fde6ec;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(1rem);
    }
}

html {
    font-family: 'Cloudy', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);

}

body {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 30rem;
    max-width: 100%;
    margin: 0 auto;
}

main > * {
    max-height: 1000px;
    opacity: 1;
    transition: all 1s ease;
}

h1 {
    font-size: 3rem;
    background: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    justify-content: space-between;
    gap: 1rem;
    flex-grow:1;
}

#transcript,
#result,
#total {
    font-family: monospace;
    text-align: center;
    margin: 0.5rem 0;
    animation: fadeInUp 0.5s ease;
}

#transcript {
    color: var(--primary-color);
    background-color: inherit;
    border: none;
    border-radius: 2rem;
    font-size: 1.4rem;
    text-align: center;
    align-content: end;
    font-family: monospace;
    padding: 0.5rem 1rem;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: 100%;
    height: auto;
    line-height: 1.5;
    flex-grow: 1;
}

#transcript:focus {
    outline-color: var(--primary-color);
}

#result {
    font-weight: bold;
    font-size: 1.5rem;
}

#total {
    background-color: var(--secondary-color-light);
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    height: 2.1rem
}

#total:empty {
    background-color: var(--secondary-color);
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Cloudy', sans-serif;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#start {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 3rem;
    margin-top: 2rem;
    max-width: 18rem;
}

@media (hover: hover) and (pointer: fine) {
    #start:hover {
        background-color: var(--primary-color-light);
    }
}

#start:active {
    background-color: var(--primary-color-light);
}

#stop {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 3rem;
    margin-top: 1rem;
    max-width: 18rem;
    animation: fadeInUp 1s ease;
    max-height: 1000px;
    opacity: 1;
    transition: all .5s ease;
}

#status {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    text-align: center;
}

.collapsed {
    max-height: 0 !important;
    opacity: 0 !important;
}